body {
  font-family: arial, sans-serif;
  font-size: small;
}

header {
  background: #2d2d2d;
}

header a {
  color: #bbb;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  padding: 0 9px;
  text-decoration: none;
}

header a:hover {
  color: #fff;
}

.main {
  margin: 0 auto;
  margin-top: 15em;
  text-align: center;
}

input {
  height: 2em;
  width: 523px;
}

button {
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #444; /*!important*/
  cursor: default !important;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 29px;
  margin: 1.4em 0.5em;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none !important;
  /*border-width: 2px; outset buttonface;
  color: #444;*/
}

button:hover {
  color: #000;
}